@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap");

div {
  max-width: 1600px;
  margin: 0 auto;
}
nav {
  text-align: center;
  padding: 35px;
}
a {
  text-align: center;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.msg {
  background-color: lightcoral;
  line-height: 1.5em;
}
main section {
  text-align: center;
  box-sizing: border-box;
}

.book,
.join {
  background-color: gray;
  text-decoration: none;
  border-radius: 5px;
}
.book:hover {
  background-color: honeydew;
  text-decoration: underline;
}

.join:hover {
  background-color: lightgreen;
  text-decoration: underline;
}

#background {
  background-color: lightblue;
  height: 725px;
}
body {
  background-color: #ceb7b3;
  text-align: center;
  font-family: Roboto, Noto;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(0, 0, 255, 0.3);
}
footer {
  background-color: lightsalmon;
  padding: 25px 50px;
  margin-top: 50px;
}
.icon {
  width: 80px;
}
.logo {
  width: 80px;
}
nav a:hover {
  text-align: center;
  color: #fcfbfb;
  text-decoration: underline;
}
footer h3 a:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
}
p {
  font-family: Noto;
}
h2 {
  margin: 0;
}
.card-img {
  border: 10px solid black;
}
